@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body{
    box-sizing: border-box;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #F7EDE7;

}
:root {
    --primary-color : #D8F124;
    --offwhite-color :#BABBB4;
    --secondary-color:#EAF5A7;
} 

.nav-container{
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem;
    border-bottom-left-radius: 2rem;
}

.list-nonbullet{
    text-align: right;
    list-style: none;
    font-size: 1.2rem;
}
.list-inline{
    display: inline;
    text-decoration: none;
    margin: 0 1rem;
}

.link{
    text-decoration: none;
    color:white;
}
.link:hover{
    color: black;
}

.list-active{
    font-weight: bold;
}

#heading{
    margin-left: 39%;
}

img{
    height: 280px;
    margin-left: 28%;
}

.container{
    width: 70%;
    text-align: center;
    margin-left: 15%;
    border-radius: 10px;
    margin-top:4rem;
    box-shadow: 10px 8px 7px 8px #947075;
    height: 200px;
    padding-top: 0.5rem;
}

.background-light{
    background-color: var(--offwhite-color);
}
.background-dark{
    background-color: var(--secondary-color);
}

a{
    margin-top: 0.5rem;
}
.link-primary{
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 1rem;
    padding: 0.5rem;
}
.link-secondary{
    margin: 1rem;
    padding: 0.6rem 1.2rem;
    border-radius: 2rem;
    border: 1px solid white;
    color: var(--offwhite-color);
    background-color: #fff;
}
footer{
    margin-top:3rem;
    height: 6rem;
    background-color: var(--primary-color);
}

footer > ul >li >a {
    text-decoration: none;
    color: black;
}